<html>

<head>
  <title>PlaylistGenerator</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="question">
    What are you feeling?
  </div>

  <div class="four">
    <div class="square">
      <div class="content">
        <div class="table">
          <div class="table-cell">
            <input type="image" class="rs" src="images/ajax-loader.gif"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="square">
      <div class="content">
        <div class="table">
          <div class="table-cell">
            <input type="image" class="rs" src="images/ajax-loader.gif" />
          </div>
        </div>
      </div>
    </div>
    <div id="rectangle"></div>
    <div class="square">
      <div class="content">
        <div class="table">
          <div class="table-cell">
            <input type="image" class="rs" src="images/ajax-loader.gif" />
          </div>
        </div>
      </div>
    </div>
    <div class="square">
      <div class="content">
        <div class="table">
          <div class="table-cell">
            <input type="image" class="rs" src="images/ajax-loader.gif" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="demo"></div>

</body>
<script type='text/javascript' src='js/generator.js'></script>
</html>
